
name: Generate CycloneDX SBOM

on:
  push:
    branches:
      - main

jobs:
  build-and-sbom:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
         
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.23' 

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install cyclonedx-gomod
      run: |
        go install github.com/CycloneDX/cyclonedx-gomod/cmd/cyclonedx-gomod@latest

    - name: Install CycloneDX CLI
      run: |
        run: sudo npm install -g @cyclonedx/bom
        
    - name: Generate CycloneDX SBOM
      run: |
        cyclonedx-gomod mod -output sbom_uns.json

    - name: Sign SBOM File with CycloneDX CLI 
      run: |
        cyclonedx keygen --private-key-file private.key --public-key-file public.key
        cyclonedx sign bom sbom_uns.json --key-file private.key
        
    - name: Upload SBOM artifact
      uses: actions/upload-artifact@v4
      with:
        name: sbom
        path: sbom_uns.json
